:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: lightblue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/font/Rubik.ttf') format('truetype');
  /* You might need to adjust the path to your font file based on your project's folder structure */
  font-weight: normal;
  font-style: normal;
}